<h2>Приветствуем вас на портале Кенгуру</h2>
<br>
<p>Вам доступны следующие приложения:</p>
<% @apps.each do |a| %>
  <p><%= link_to(a.nam, Rails.application.routes.url_helpers.send(a.url), class: (a.enabled ? "btn btn-primary btn-lg enabled": "btn btn-primary btn-lg disabled")) %>
<% end %>
