<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Мы получили запрос на сброс вашего пароля. Вы можете сделать это, пройдя по ссылке:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не отправляли подобный запрос, просто проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не пройдете по указанной ссылке и не введете новый пароль.</p>
